**Task 1.** Присвоить каждому возрасту категорию:  
- `"child"` (0–12), `"teen"` (13–19), `"adult"` (20+).  

*Вход:*
```python
ages = [5, 13, 25, 17, 8]
```

*Выход:*
```python
{5:'child', 13:'teen', 25:'adult', 17:'teen', 8:'child'}
```

**Task 2.** Для каждого пользователя сформировать элемент с полным именем.

*Вход:*
```python
people = [
    {'first': 'John', 'last': 'Smith'},
    {'first': 'Anna', 'last': 'Brown'}
]
```

*Выход:*
```python
[
    {'first': 'John', 'last': 'Smith', 'full_name': 'John Smith'},
    {'first': 'Anna', 'last': 'Brown', 'full_name': 'Anna Brown'}
]
```

**Task 3.** Для каждого элемента списка выделить домен из email.  

*Вход:*
```python
emails = ['user1@gmail.com', 'admin@yahoo.com']
```

*Выход:*
```python
['gmail.com', 'yahoo.com']
```

**Task 4.** Для каждого элемента списка вычислить `price * qty`.  

*Вход:*
```python
sales = [
    {'price': 10.5, 'qty': 3},
    {'price': 20.0, 'qty': 2}
]
```

*Выход:*
```python
[
    {'price': 10.5, 'qty': 3, 'revenue': 31.5},
    {'price': 20.0, 'qty': 2, 'revenue': 40.0}
]
```

**Task 5.** Определить, является ли день недели выходным (`Saturday`, `Sunday`).  

*Вход:*
```python
days = ['Monday', 'Saturday', 'Sunday', 'Wednesday']
```

*Выход:*
```python
[False, True, True, False]
```

**Task 6.** Извлечь год из строки формата `"YYYY-MM-DD"`.  

*Вход:*
```python
dates = ['2023-01-15', '2022-12-30', '2021-06-01']
```

*Выход:*
```python
[2023, 2022, 2021]
```

**Task 7.** Преобразовать минуты в список строк в формате "Xh Ym"

*Вход:*
```python
minutes = [135, 45, 200]
```

*Выход:*
```python
['2h 15m', '0h 45m', '3h 20m']
```

**Task 8.** Получить длину каждой строки.  

*Вход:*
```python
words = ['data', 'analytics', 'AI']
```

*Выход:*
```python
[4, 9, 2]
```

**Task 9.** Для каждой строки определить, содержит ли строка слово "error" (без учёта регистра).  

*Вход:*
```python
logs = ['System Error occurred', 'All OK', 'Critical ERROR!']
```

*Выход:*
```python
[True, False, True]
```

**Task 10.** Выполнить сегментацию клиентов по сумме покупок**  
*Условие:*  
- `>1000` → `"VIP"`  
- `>500` → `"Premium"`  
- иначе → `"Regular"`  


*Вход:*
```python
spendings = [1200, 700, 300]
```

*Выход:*
```python
['VIP', 'Premium', 'Regular']
```

**Task 11.** В каждый словарь добавить элемент с инициалами пользователя.

*Вход:*
```python
names = [
    {'first': 'John', 'last': 'Doe'},
    {'first': 'Anna', 'last': 'Smith'}
]
```

*Выход:*
```python
[
    {'first': 'John', 'last': 'Doe', 'initials': 'J.D.'},
    {'first': 'Anna', 'last': 'Smith', 'initials': 'A.S.'}
]
```

**Task 12.** Преобразовать имя и фамилию пользователя из формата (`name`, `surname`) в `"surname, name"`.

*Вход:*
```python
names = [('John', 'Smith'), ('Alice', 'Brown')]
```

*Выход:*
```python
['Smith, John', 'Brown, Alice']
```

**Task 13.** Перевести USD → EUR по курсу 1 USD = 0.9 EUR  

*Вход:*
```python
usd_values = [100, 55.5, 200]
```

*Выход:*
```python
[90.0, 49.95, 180.0]
```

**Task 14.** Сформировать email пользователя на базе его имени и фамилии как `name.lastname@email.com`. Если такой email уже существует, то добавлять счетчик как `name.lastname01@email.com`

*Вход:*
```python
users = [
    {'name': 'john', 'last': 'doe'},
    {'name': 'anna', 'last': 'smith'}
]
```

*Выход:*
```python
[
    {'name': 'john', 'last': 'doe', 'email': 'john.doe@email.com'},
    {'name': 'anna', 'last': 'smith', 'email': 'anna.smith@email.com'}
]
```