In [2]:
x = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

### Ref copy

In [3]:
y = x
y[0][0] = 100

print(x)

[[100, 2, 3], [4, 5, 6], [7, 8, 9]]

### View copy

In [4]:
x = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

y = x[:]
y[0] = 100
print(x)
print(y)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[100, [4, 5, 6], [7, 8, 9]]

In [5]:
y[1][0] = 200
print(x)
print(y)

[[1, 2, 3], [200, 5, 6], [7, 8, 9]]
[100, [200, 5, 6], [7, 8, 9]]

In [6]:
x = [1, 2, 3, 4, 5]

y = x[:]

y[0] = 10

print(x)
print(y)

[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]

In [7]:
x = [1, 2, 3, 4]
# Var 1
y = x[:]

# Var 2
y = x.copy()

### Deep copy

In [10]:
import copy

x = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

y = copy.deepcopy(x)

y[0][0] = 100
x[0][0] = 1000
print(y)
print(x)

[[100, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1000, 2, 3], [4, 5, 6], [7, 8, 9]]

In [11]:
salaries = [100, 200, 300, 300]

x = salaries[:]
for i, item in enumerate(x):
    x[i] = item * 0.6


print(salaries)
print(x)

[100, 200, 300, 300]
[60.0, 120.0, 180.0, 180.0]

In [14]:
users = [
    ['Name 1', 20, 300],
    ['Name 2', 30, 200],
    ['Name 3', 40, 100],
]

# x = users[:]
import copy
x = copy.deepcopy(users)

for i, item in enumerate(users):
    _, _, salary = item
    x[i][2] = salary * 0.6


print(x)
print(users)

[['Name 1', 20, 180.0], ['Name 2', 30, 120.0], ['Name 3', 40, 60.0]]
[['Name 1', 20, 300], ['Name 2', 30, 200], ['Name 3', 40, 100]]

### List compr

In [15]:
salaries = [100, 200, 300, 300]

salaries_after_taxes = []
for item in salaries:
    salaries_after_taxes.append(item * 0.6)

print(salaries_after_taxes)

[60.0, 120.0, 180.0, 180.0]

In [18]:
salaries_after_taxes = [item * 0.6 for item in salaries]
print(salaries_after_taxes)

[60.0, 120.0, 180.0, 180.0]

In [19]:
salaries_after_taxes = [salaries[i] * 0.6 for i in range(len(salaries) // 2)]
print(salaries_after_taxes)

[60.0, 120.0]

In [20]:
x = [1, 2, 3, 4, 5, 6, 7, 8]

y = []

for item in x:
    if item % 2:
        y.append(item ** 2)

print(y)

[1, 9, 25, 49]

In [21]:
x = [1, 2, 3, 4, 5, 6, 7, 8]
y = [item ** 2 for item in x if item % 2]

print(y)

[1, 9, 25, 49]

In [22]:
import random

x = []
for _ in range(20):
    x.append(random.randint(1, 100))

print(x)

[35, 7, 11, 56, 41, 46, 92, 79, 95, 51, 68, 73, 31, 95, 49, 83, 86, 86, 79, 100]

In [23]:
import random
x = [random.randint(1, 100) for _ in range(20)]
print(x)

[14, 17, 57, 98, 93, 90, 43, 10, 13, 33, 51, 57, 77, 55, 3, 15, 27, 81, 59, 72]

In [26]:
words = ["hello", "world", "python"]
words = [item.upper() for item in words]
print(words)

['HELLO', 'WORLD', 'PYTHON']

In [27]:
words = ["apple", "banana", "cherry", "date"]
words = [item for item in words if 'a' in item]
print(words)

['apple', 'banana', 'date']

In [32]:
x = [1, 2, 3, 4, 5, 6, 7]

# if n is even -> n ** 2
# if n is odd -> n ** 3

y = []
for n in x:
    y.append(n ** 3 if n % 2 else n ** 2)
print(y)

y = [n ** 3 if n % 2 else n ** 2 for n in x]
print(y)

[1, 4, 27, 16, 125, 36, 343]
[1, 4, 27, 16, 125, 36, 343]

In [31]:
x = 'Hello'

y = [f'*{item}*' for item in x]

print(y)

['*H*', '*e*', '*l*', '*l*', '*o*']

In [34]:
numbers = [2, 7, 5, 4, 1, 1, 7, 8]
y = [n if n % 2 == 0 else -1 for n in numbers]
print(y)

[2, -1, -1, 4, -1, -1, -1, 8]

In [37]:
words = ["cat", "elephant", "dog", "bird"]
words = [item.upper() if len(item) <= 3 else item for item in words]
print(words)

['CAT', 'elephant', 'DOG', 'bird']

In [38]:
words = ["cat", "elephant", "dog", "bird"]
words = [item for item in words if len(item) > 3]
print(words)

['elephant', 'bird']

In [39]:
words = ["hi", "apple", "banana", "cat", "blueberry", "on"]
modified_words = [word if len(word) > 5 else ('medium' if len(word) >= 3 else 'short') for word in words]
print(modified_words)

['short', 'medium', 'banana', 'medium', 'blueberry', 'short']

In [40]:
pairs = [(x, y) for x in range(3) for y in range(2)]
print(pairs)

[(0, 0), (0, 1), (1, 0), (1, 1), (2, 0), (2, 1)]

In [43]:
x = [[0] * 9 for i in range(9)]
print(*x, sep='\n')

[0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0]

In [44]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened = [num for row in matrix for num in row]
print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
products   = ['apple', 'orange', 'banana']
prices     = [10, 11, 12]
quantities = [1, 2, 3]

for i in range(len(products)):
    print(f'{products[i]}: ${prices[i]} x {quantities[i]} = ${prices[i] * quantities[i]}')

apple: $10 x 1 = $10
orange: $11 x 2 = $22
banana: $12 x 3 = $36

In [50]:
products   = ['apple', 'orange', 'banana']
prices     = [10, 11, 12]
quantities = [1, 2, 3]

for product, price, q in zip(products, prices, quantities):
    print(f'{product}: ${price} x {q} = ${price * q}')

apple: $10 x 1 = $10
orange: $11 x 2 = $22
banana: $12 x 3 = $36

In [51]:
list(zip(products, prices, quantities))

[('apple', 10, 1), ('orange', 11, 2), ('banana', 12, 3)]

In [52]:
print(*zip(products, prices, quantities), sep='\n')

('apple', 10, 1)
('orange', 11, 2)
('banana', 12, 3)

In [53]:
x = [1, 2, 3, 4]
y = ['a', 'b']

print(*zip(x, y))

(1, 'a') (2, 'b')

In [55]:
print(*zip(x[2:], y))

(3, 'a') (4, 'b')

In [56]:
x = [None, 1, 2, 3, None]
y = [2, 3, 4, 5, 6, 7, 8, 9]

print(*zip(x, y))

(None, 2) (1, 3) (2, 4) (3, 5) (None, 6)