In [1]:
x = [12, 23, 45, 56, 78]

for item in x:
    print(item * item)

144
529
2025
3136
6084

In [2]:
salary = [1000, 20334, 34, 3434, 3434]
for i in range(len(salary)):
    salary[i] *= 0.6

print(salary)

[600.0, 12200.4, 20.4, 2060.4, 2060.4]

In [3]:
salary = [100, 200, 300, 400, 500, 600]
month = ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь']

for i in range(len(salary)):
    print(month[i], ':', salary[i])

Янв : 100
Фев : 200
Март : 300
Апр : 400
Май : 500
Июнь : 600

In [5]:
x = [1, 2, 3, 4, 5, 6, 7]


for item in x:
    item += 1

print(x)

[1, 2, 3, 4, 5, 6, 7]

In [6]:
data = [
    '1 1$',
    '2 2$',
    '3 3$',
    '4 4$',
    '5 5$',
    '6 6$',
    '7 7$',
    '8 8$',
]

total = 0
for row in data:
    total += float(row.split()[1].replace('$', ''))

print(total)

In [7]:
data = [
    '1 1$',
    '2 2$',
    '3 3$',
    '4 4$',
    '5 5$',
    '6 6$',
    '7 7$',
    '8 8$',
]

for i in range(len(data)):
    row = data[i]
    salary = float(row.split()[1].replace('$', ''))
    data[i] = salary

print(data)
print(sum(data))
print(min(data))
print(max(data))
print(sum(data) / len(data))

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]
36.0
1.0
8.0
4.5

In [8]:
num = 42
text = "The number is %s." % num
print(text)

The number is 42.

In [9]:
import math
text = 'Pi: %f' % math.pi
print(text)

Pi: 3.141593

In [10]:
math.pi

3.141592653589793

In [12]:
import math
text = 'Pi: %.3f' % math.pi
print(text)

Pi: 3.142

In [16]:
name = "Alice"
age = 30
text = "My name is {} and I am {} years old. {} is a big boss!"

print(text)

My name is {} and I am {} years old. {} is a big boss!

In [17]:
print(text.format(name, age, name))

My name is Alice and I am 30 years old. Alice is a big boss!

In [19]:
text = "My name is {} and I am {} years old."

data = [
    'Alice 30',
    'Bob 23',
    'Anna 45',
    'Oleh 34'
]

for row in data:
    info = row.split()
    print(text.format(info[0], info[1]))

My name is Alice and I am 30 years old.
My name is Bob and I am 23 years old.
My name is Anna and I am 45 years old.
My name is Oleh and I am 34 years old.

In [20]:
text = "My name is {0} and I am {1} years old. {0} is a big boss."

data = [
    'Alice 30',
    'Bob 23',
    'Anna 45',
    'Oleh 34'
]

for row in data:
    info = row.split()
    print(text.format(info[0], info[1]))

My name is Alice and I am 30 years old. Alice is a big boss.
My name is Bob and I am 23 years old. Bob is a big boss.
My name is Anna and I am 45 years old. Anna is a big boss.
My name is Oleh and I am 34 years old. Oleh is a big boss.

In [23]:
text = "My name is {name} and I am {age} years old. {name} is a big boss."

data = [
    'Alice 30',
    'Bob 23',
    'Anna 45',
    'Oleh 34'
]

for row in data:
    info = row.split()
    print(text.format(name=info[0], age=info[1]))

My name is Alice and I am 30 years old. Alice is a big boss.
My name is Bob and I am 23 years old. Bob is a big boss.
My name is Anna and I am 45 years old. Anna is a big boss.
My name is Oleh and I am 34 years old. Oleh is a big boss.

In [25]:
text = "My name is {name} and I am {age} years old. {name} is a big boss. Lives in {}"

data = [
    'Alice 30 Berlin',
    'Bob 23 Keln',
    'Anna 45 Antalya',
    'Oleh 34 Tbilisi'
]

for row in data:
    info = row.split()
    print(text.format(info[2], name=info[0], age=info[1]))

My name is Alice and I am 30 years old. Alice is a big boss. Lives in Berlin
My name is Bob and I am 23 years old. Bob is a big boss. Lives in Keln
My name is Anna and I am 45 years old. Anna is a big boss. Lives in Antalya
My name is Oleh and I am 34 years old. Oleh is a big boss. Lives in Tbilisi

In [26]:
name = input('name>>')
age = int(input('age>>'))
text = f"My name is {name} and I am {age} years old"
print(text)

name>> Alice
age>> 20

My name is Alice and I am 20 years old

In [28]:
text = "My name is " + name + " and I am " + str(age) + " years old"
print(text)

My name is Alice and I am 20 years old

In [30]:
import math
print(f'Pi: {math.pi:.2f}')

Pi: 3.14

In [36]:
x = 1234567890345678
print(f'x: {x:,}')
print(f'x: {x:_}')

x: 1,234,567,890,345,678
x: 1_234_567_890_345_678

In [40]:
# f-строки
text_fstring = f"start_{'text':>10}_end"
print(text_fstring)
text_fstring = f"start_{'text':<10}_end"
print(text_fstring)
text_fstring = f"start_{'text':^10}_end"
print(text_fstring)
text_fstring = f"start_{'text':*^10}_end"
print(text_fstring)

start_      text_end
start_text      _end
start_   text   _end
start_***text***_end

In [42]:
names = ['Alice', 'Bob', 'Oleh', 'ggggggggggggggggggggg']

for i in range(len(names)):
    print(f'{i:0>4} {names[i]:*^10}')

0000 **Alice***
0001 ***Bob****
0002 ***Oleh***
0003 ggggggggggggggggggggg