In [2]:
key = [1, 2, 3, 4]
y = dict.fromkeys(key)
print(y)

{1: None, 2: None, 3: None, 4: None}

In [3]:
key = [1, [2], 3, 4]
y = dict.fromkeys(key)
print(y)

TypeError: unhashable type: 'list'

In [4]:
key = [1, 2, 3, 4]
y = dict.fromkeys(key, 'Not Defined')
print(y)

{1: 'Not Defined', 2: 'Not Defined', 3: 'Not Defined', 4: 'Not Defined'}

In [5]:
key = [1, 2, 3, 4]
y = dict.fromkeys(key, 100)
print(y)

{1: 100, 2: 100, 3: 100, 4: 100}

In [6]:
key = [1, 2, 3, 4]
value = [0, 1, 2]
y = dict.fromkeys(key, value)
print(y)

{1: [0, 1, 2], 2: [0, 1, 2], 3: [0, 1, 2], 4: [0, 1, 2]}

In [7]:
value.append(100)
print(y)

{1: [0, 1, 2, 100], 2: [0, 1, 2, 100], 3: [0, 1, 2, 100], 4: [0, 1, 2, 100]}

In [9]:
x = {1: 'one', 2: 'two'}

print(x.get(1))
print(x.get(10))
print(x.get(10, 0))

one
None
0

In [14]:
my_dict = {"name": "Alice", "age": 30}
age = my_dict.setdefault("age")

print(age)
print(my_dict)

30
{'name': 'Alice', 'age': 30}

In [15]:
country = my_dict.setdefault("country")
print(country)
print(my_dict)

None
{'name': 'Alice', 'age': 30, 'country': None}

In [16]:
city = my_dict.setdefault("city", "Unknown")
print(country)
print(city)
print(my_dict)

None
Unknown
{'name': 'Alice', 'age': 30, 'country': None, 'city': 'Unknown'}

In [17]:
name = my_dict.setdefault("name", "Anonymous User")
print(name)

Alice

In [18]:
# setdefault
if 'nationality' not in my_dict:
    my_dict['nationality'] = 'people'

res = my_dict['nationality']

In [19]:
# get
res = my_dict['date_of_birth'] if 'date_of_birth' in my_dict else '01-01-2000'

In [21]:
x = {1: 'one', 2: 'two', 3: 'three'}

print(x.values())
print(tuple(x.values()))

dict_values(['one', 'two', 'three'])
('one', 'two', 'three')

In [22]:
x = {1: 'one', 2: 'two', 3: 'three'}

print(x.keys())
print(tuple(x.keys()))

dict_keys([1, 2, 3])
(1, 2, 3)

In [23]:
x = {1: 'one', 2: 'two', 3: 'three'}

print(x.items())
print(tuple(x.items()))

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])
((1, 'one'), (2, 'two'), (3, 'three'))

In [24]:
list(x)

[1, 2, 3]

In [26]:
x = {1: 'one', 2: 'two', 3: 'three', 4: 'one'}

values = set(x.values())
print(values)
print(len(values), len(x))

{'one', 'three', 'two'}
3 4

In [28]:
x = {1: 'one', 2: 'two', 3: 'three', 4: 'one'}

y = input('value>>')

if y in x.values():
    print('Yes')
else:
    print('No')

value>> 123

No

In [29]:
x = {1: 'one', 2: 'two', 3: 'three', 4: 'one'}
y = input('value>>')

for key, value in x.items():
    if value == y:
        print(key)

value>> one

1
4

In [33]:
student_scores = {
    "Alice": [90, 85, 88],
    "Bob": [72, 75, 80],
    "Charlie": [95, 100, 98]
}


print(student_scores['Alice'])

print(student_scores['Alice'][0])

print(min(student_scores['Alice']))
print(max(student_scores['Alice']))
print(sum(student_scores['Alice']) / len(student_scores['Alice']))

[90, 85, 88]
90
85
90
87.66666666666667

In [39]:
school = {
    "class1": {
        "students": ["Alice", "Bob", "Charlie"],
        "teacher": "Mrs. Smith"
    },
    "class2": {
        "students": ["David", "Eva"],
        "teacher": "Mr. Johnson"
    }
}

print(school['class1'])
print(school['class1']['students'])
print(school['class1']['teacher'])
print(school['class1']['students'][0])

if 'Alice' in school['class1']['students']:
    print('Class1')
elif 'Alice' in school['class2']['students']:
    print('Class2')

{'students': ['Alice', 'Bob', 'Charlie'], 'teacher': 'Mrs. Smith'}
['Alice', 'Bob', 'Charlie']
Mrs. Smith
Alice
Class1

In [42]:
school = {
    "class1": {
        "students": ["Alice", "Bob", "Charlie"],
        "teacher": "Mrs. Smith"
    },
    "class2": {
        "students": ["David", "Eva"],
        "teacher": "Mr. Johnson"
    }
}

for _class, class_info in school.items():
    if 'Eva' in class_info['students']:
        print(_class)

class2

In [43]:
original_dict = {
    "name": "Alice",
    "age": 30, 
    "scores": [90, 85, 88]
}

copied_dict = original_dict.copy()
print(copied_dict)

{'name': 'Alice', 'age': 30, 'scores': [90, 85, 88]}

In [45]:
original_dict['scores'].append(100)

print(original_dict)
print(copied_dict)

{'name': 'Alice', 'age': 30, 'scores': [90, 85, 88, 100, 100]}
{'name': 'Alice', 'age': 30, 'scores': [90, 85, 88, 100, 100]}

In [46]:
import copy

original_dict = {
    "name": "Alice",
    "age": 30, 
    "scores": [90, 85, 88]
}

copied_dict = copy.deepcopy(original_dict)
original_dict['scores'].append(100)
print(original_dict)
print(copied_dict)

{'name': 'Alice', 'age': 30, 'scores': [90, 85, 88, 100]}
{'name': 'Alice', 'age': 30, 'scores': [90, 85, 88]}

In [47]:
x = [i ** 2 for i in range(10)]
print(x)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
x = {i ** 2 for i in range(10)}
print(x)

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

In [49]:
x = (i ** 2 for i in range(10))
print(x)

<generator object <genexpr> at 0x000001D311BD8EE0>

In [51]:
x = {i: i ** 2 for i in range(10)}
print(x)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [53]:
x = {1: 32434, 2: -345345, 3: 45345, 4: 234324, 5: 0}

y = {key: value for key, value in x.items() if value > 0}

print(y)

{1: 32434, 3: 45345, 4: 234324}

In [56]:
x = ["apple", "banana", "cherry", "apple"]
length_dict = {item: len(item) for item in set(x)}
print(length_dict)

{'cherry': 6, 'banana': 6, 'apple': 5}

In [58]:
x = {1: 'one', 2: [1, 2, 3]}
y = {2: [2, 3, 1], 1: 'one'}

print(x == y)

False

In [60]:
dictionary = {
    "Butterfly": "Бабочка",
    "Training": "Обучение",
    "Restaurant": "Ресторан",
    "Programming": "Программирование",
}

word = input('word>>').strip().title()

res = dictionary.get(word)
if res:
    print(res)
else:
    if word in dictionary.values():
        for key, value in dictionary.items():
            if value == word:
                print(key)

word>> Бабочка

Butterfly