In [1]:
x = (1, 2, 3, 4, 5, 'Hello', [1, 2, 3, 4])

In [2]:
x

(1, 2, 3, 4, 5, 'Hello', [1, 2, 3, 4])

In [3]:
x = ()
print(x)

()

In [4]:
x = (1)
print(x)

1

In [5]:
x = (1, )
print(x)

(1,)

In [6]:
x = (1, 2, 3, 4, 5, 'Hello', [1, 2, 3, 4])

In [7]:
print(x[0], x[-1])

1 [1, 2, 3, 4]

In [8]:
x[::2]

(1, 3, 5, [1, 2, 3, 4])

In [9]:
x[0] = 100

TypeError: 'tuple' object does not support item assignment

In [10]:
y = [1, 2, 3]
x = (1, 2, y)
print(x)

(1, 2, [1, 2, 3])

In [11]:
y[0] = 100

In [12]:
x

(1, 2, [100, 2, 3])

In [13]:
x = (1, 2, [1, 2, 3])
y = x[2]
y[0] = 100
print(x)

(1, 2, [100, 2, 3])

In [15]:
x = ((1, 2), (3, 4), (5, 6))
print(x, len(x))

((1, 2), (3, 4), (5, 6)) 3

In [16]:
x[0][0]

1

In [17]:
x = (1, 2, 3)
y = (1, 2, 4)

In [18]:
x == y

False

In [19]:
x > y

False

In [20]:
x < y

True

In [21]:
x = (1, 'Hello', 100)
y = (1, 'hello', 2)
print(x > y)

False

In [22]:
x = (1, 2, 3, 4, 5, 6, 7)
y = (1, 2, 3, 100)
print(x > y)

False

In [23]:
x = 'Python'
y = [1, 2, 3, 4]

print(tuple(x))
print(tuple(y))

('P', 'y', 't', 'h', 'o', 'n')
(1, 2, 3, 4)

In [24]:
x = (1, 2, 3, 4, 5, 6, 7)
y = list(x)
print(y)

[1, 2, 3, 4, 5, 6, 7]

In [26]:
x = ('1', '2', '3', '4', '5', '6', '7')
y = ''.join(x)
print(y)

1234567

In [27]:
x = range(1, 100, 3)
print(tuple(x))

(1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58, 61, 64, 67, 70, 73, 76, 79, 82, 85, 88, 91, 94, 97)

In [28]:
tuple(5)

TypeError: 'int' object is not iterable

In [29]:
list(5)

TypeError: 'int' object is not iterable

In [30]:
x = (1, 2, 3, 4, 5)
for item in x:
    print(item)

1
2
3
4
5

In [31]:
x = 1, 2, 3, 4, 5, 6
print(x)

(1, 2, 3, 4, 5, 6)

In [32]:
x = 'Hello', 'world'
print(x)

('Hello', 'world')

In [33]:
x = (1, 2, 3)

a, b, c = x

print(a, b, c)
print(x)

1 2 3
(1, 2, 3)

In [34]:
x = [1, 2, 3]

a, b, c = x

print(a, b, c)
print(x)

1 2 3
[1, 2, 3]

In [35]:
x = 'YES'

a, b, c = x

print(a, b, c)
print(x)

Y E S
YES

In [36]:
x = (1, 2, 3, 4)

a, b, c = x

print(a, b, c)
print(x)

ValueError: too many values to unpack (expected 3)

In [37]:
x = (1, 2)

a, b, c = x

print(a, b, c)
print(x)

ValueError: not enough values to unpack (expected 3, got 2)

In [38]:
x = (1, 2, 3, 4)
print(x, sep='*')

(1, 2, 3, 4)

In [39]:
x = (1, 2, 3, 4)
print(*x, sep='*')

1*2*3*4

In [40]:
x = (1, 2, 3, 4)
print(*x)

1 2 3 4

In [41]:
x = (1, 2, 3, 4, 5, 6, 7, 8)
a, b, *c = x

In [42]:
a

1

In [43]:
b

2

In [44]:
c

[3, 4, 5, 6, 7, 8]

In [45]:
x = (1, 2, 3, 4, 5, 6, 7, 8)
a, *b, c = x
print(a)
print(c)
print(b)

1
8
[2, 3, 4, 5, 6, 7]

In [46]:
x = (1, 2, 3, 4, 5, 6, 7, 8)
*a, b, c = x
print(a)
print(c)
print(b)

[1, 2, 3, 4, 5, 6]
8
7

In [47]:
x = (1, 2, 3)
*a, b, c = x
print(a)
print(b)
print(c)

[1]
2
3

In [48]:
x = (1, 2)
*a, b, c = x
print(a)
print(b)
print(c)

[]
1
2

In [49]:
x = (1, )
*a, b, c = x
print(a)
print(b)
print(c)

ValueError: not enough values to unpack (expected at least 2, got 1)

In [54]:
data = [
    '1 Bob Simson 19.58$ decorations',
    '2 Mary 66.7$ food',
    '3 Mary 98.91$ toys',
    '4 Aleksa 72.29$ drinks',
    '5 Maria Simson 84.48$ food',
    '6 Aleksa 100.41$ accessories',
    '7 Mary 19.9$ accessories',
    '8 Bob Simson 83.88$ drinks',
    '9 Bob Simson 58.21$ instruments',
    '10 Maria Simson 20.61$ accessories',
]

data_new = []
for row in data:
    _, *name, money, category = row.split()
    name = ' '.join(name)
    money = float(money.replace('$', ''))
    data_new.append((name, money, category))

print(*data_new, sep='\n')

('Bob Simson', 19.58, 'decorations')
('Mary', 66.7, 'food')
('Mary', 98.91, 'toys')
('Aleksa', 72.29, 'drinks')
('Maria Simson', 84.48, 'food')
('Aleksa', 100.41, 'accessories')
('Mary', 19.9, 'accessories')
('Bob Simson', 83.88, 'drinks')
('Bob Simson', 58.21, 'instruments')
('Maria Simson', 20.61, 'accessories')

In [63]:
salaries = [
    ('Ivanov I', 10000),
    ('Petrov P', 20000),
    ('Sydorov S', 30000),
]

i = 0
for name, salary in salaries:
    print(f'{i + 1}. Сотрудник={name}\tЗП={salary}')
    i += 1

1. Сотрудник=Ivanov I	ЗП=10000
2. Сотрудник=Petrov P	ЗП=20000
3. Сотрудник=Sydorov S	ЗП=30000

In [66]:
x = [1, 2, 3, 4, 5, 6, 7]


for i in range(len(x)):
    x[i] = x[i] * 2
    
print(x)

[2, 4, 6, 8, 10, 12, 14]

In [74]:
x = [1, 2, 3, 4, 5, 6, 7]

for i, item in enumerate(x):
    x[i] = item * 2
    print(i, item, x[i])

print(x)

0 1 2
1 2 4
2 3 6
3 4 8
4 5 10
5 6 12
6 7 14
[2, 4, 6, 8, 10, 12, 14]

In [80]:
languages = ("Python", "Java", "C++")

for index, language in enumerate(languages, start=1):
    print(f"{index}: {language}")

1: Python
2: Java
3: C++

In [81]:
x = 'Hello'

for index, char in enumerate(x):
    print(index, char)

0 H
1 e
2 l
3 l
4 o

In [83]:
x = (1, 2, 3, 4)
print(sum(x))
print(min(x))
print(max(x))
print(len(x))

10
1
4
4