In [1]:
!pip install PyMySQL

Requirement already satisfied: PyMySQL in c:\users\olehs\appdata\local\programs\python\python313\lib\site-packages (1.1.1)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pymysql
config = {
    'host': 'ich-db.edu.itcareerhub.de',
    'user': 'ich1',
    'password': 'password',
    'database': 'hr',
}
connection = pymysql.connect(**config)

In [2]:
type(connection)

pymysql.connections.Connection

In [3]:
dir(connection)

['DataError',
 'DatabaseError',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'ProgrammingError',
 'Warning',
 '__class__',
 '__del__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__firstlineno__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__static_attributes__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_affected_rows',
 '_auth_plugin_map',
 '_auth_plugin_name',
 '_binary_prefix',
 '_closed',
 '_connect_attrs',
 '_create_ssl_ctx',
 '_execute_command',
 '_force_close',
 '_get_auth_plugin_handler',
 '_get_server_information',
 '_local_infile',
 '_next_seq_id',
 '_process_auth',
 '_quote_bytes',
 '_read_bytes',
 '_read_ok_packet',
 '_read_packet',
 '_read_query_result',
 '_read_timeout',
 '_request_authentication',
 '_result',
 '_rfile',
 '_secure',
 '_send_autocommit_mode',
 '_sock',
 '_write_bytes',
 '_write_timeout',
 'affected_rows',
 'autocommit',
 'autocommit_mode',
 'begin',
 'bind_address',
 'character_set_name',
 'charset',
 'client_flag',
 'close',
 'collation',
 'commit',
 'connect',
 'connect_timeout',
 'cursor',
 'cursorclass',
 'db',
 'decoders',
 'encoders',
 'encoding',
 'escape',
 'escape_string',
 'get_autocommit',
 'get_host_info',
 'get_proto_info',
 'get_server_info',
 'host',
 'host_info',
 'init_command',
 'insert_id',
 'kill',
 'literal',
 'max_allowed_packet',
 'next_result',
 'open',
 'password',
 'ping',
 'port',
 'protocol_version',
 'query',
 'rollback',
 'salt',
 'select_db',
 'server_capabilities',
 'server_charset',
 'server_language',
 'server_public_key',
 'server_status',
 'server_thread_id',
 'server_version',
 'set_character_set',
 'set_charset',
 'show_warnings',
 'sql_mode',
 'ssl',
 'thread_id',
 'unix_socket',
 'use_unicode',
 'user',
 'write_packet']

In [4]:
connection.host

'ich-db.edu.itcareerhub.de'

In [5]:
type(connection.host)

str

In [6]:
if connection.open:
    print("Connection successful!")

Connection successful!

In [7]:
cursor = connection.cursor()

In [8]:
type(cursor)

pymysql.cursors.Cursor

In [9]:
dir(cursor)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__firstlineno__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__static_attributes__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_check_executed',
 '_clear_result',
 '_conv_row',
 '_do_execute_many',
 '_do_get_result',
 '_escape_args',
 '_executed',
 '_get_db',
 '_nextset',
 '_query',
 '_result',
 '_rows',
 'arraysize',
 'callproc',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'fetchall',
 'fetchmany',
 'fetchone',
 'max_stmt_length',
 'mogrify',
 'nextset',
 'rowcount',
 'rownumber',
 'scroll',
 'setinputsizes',
 'setoutputsizes',
 'warning_count']

In [10]:
cursor.execute("SELECT * FROM departments")

27

In [11]:
for row in cursor:
    print(row)

(Decimal('10'), 'Administration', Decimal('200'), Decimal('1700'))
(Decimal('20'), 'Marketing', Decimal('201'), Decimal('1800'))
(Decimal('30'), 'Purchasing', Decimal('114'), Decimal('1700'))
(Decimal('40'), 'Human Resources', Decimal('203'), Decimal('2400'))
(Decimal('50'), 'Shipping', Decimal('121'), Decimal('1500'))
(Decimal('60'), 'IT', Decimal('103'), Decimal('1400'))
(Decimal('70'), 'Public Relations', Decimal('204'), Decimal('2700'))
(Decimal('80'), 'Sales', Decimal('145'), Decimal('2500'))
(Decimal('90'), 'Executive', Decimal('100'), Decimal('1700'))
(Decimal('100'), 'Finance', Decimal('108'), Decimal('1700'))
(Decimal('110'), 'Accounting', Decimal('205'), Decimal('1700'))
(Decimal('120'), 'Treasury', None, Decimal('1700'))
(Decimal('130'), 'Corporate Tax', None, Decimal('1700'))
(Decimal('140'), 'Control And Credit', None, Decimal('1700'))
(Decimal('150'), 'Shareholder Services', None, Decimal('1700'))
(Decimal('160'), 'Benefits', None, Decimal('1700'))
(Decimal('170'), 'Manufacturing', None, Decimal('1700'))
(Decimal('180'), 'Construction', None, Decimal('1700'))
(Decimal('190'), 'Contracting', None, Decimal('1700'))
(Decimal('200'), 'Operations', None, Decimal('1700'))
(Decimal('210'), 'IT Support', None, Decimal('1700'))
(Decimal('220'), 'NOC', None, Decimal('1700'))
(Decimal('230'), 'IT Helpdesk', None, Decimal('1700'))
(Decimal('240'), 'Government Sales', None, Decimal('1700'))
(Decimal('250'), 'Retail Sales', None, Decimal('1700'))
(Decimal('260'), 'Recruiting', None, Decimal('1700'))
(Decimal('270'), 'Payroll', None, Decimal('1700'))

In [12]:
# Прямое включение пользовательского ввода
user_input = "1 OR 1=1"
sql = f"SELECT * FROM employees WHERE employee_id = {user_input}"
cursor.execute(sql) # выполнит: SELECT * FROM employees WHERE employee_id = 1 OR 1=1
# Получены все записи, вместо одной
for r in cursor:
    print(r)

(Decimal('100'), 'Steven', 'King', 'SKING', '515.123.4567', 'AD_PRES', Decimal('24000.00'), None, None, Decimal('90'), datetime.date(2016, 6, 4))
(Decimal('101'), 'Neena', 'Kochhar', 'NKOCHHAR', '515.123.4568', 'AD_VP', Decimal('17000.00'), None, Decimal('100'), Decimal('90'), datetime.date(2015, 10, 29))
(Decimal('102'), 'Lex', 'De Haan', 'LDEHAAN', '515.123.4569', 'AD_VP', Decimal('17000.00'), None, Decimal('100'), Decimal('90'), datetime.date(2004, 12, 21))
(Decimal('103'), 'Alexander', 'Hunold', 'AHUNOLD', '590.423.4567', 'IT_PROG', Decimal('9000.00'), None, Decimal('102'), Decimal('60'), datetime.date(2002, 4, 10))
(Decimal('104'), 'Bruce', 'Ernst', 'BERNST', '590.423.4568', 'IT_PROG', Decimal('6000.00'), None, Decimal('103'), Decimal('60'), datetime.date(2021, 5, 3))
(Decimal('105'), 'David', 'Austin', 'DAUSTIN', '590.423.4569', 'IT_PROG', Decimal('4800.00'), None, Decimal('103'), Decimal('60'), datetime.date(2000, 4, 26))
(Decimal('106'), 'Valli', 'Pataballa', 'VPATABAL', '590.423.4560', 'IT_PROG', Decimal('4800.00'), None, Decimal('103'), Decimal('60'), datetime.date(2012, 3, 29))
(Decimal('107'), 'Diana', 'Lorentz', 'DLORENTZ', '590.423.5567', 'IT_PROG', Decimal('4200.00'), None, Decimal('103'), Decimal('60'), datetime.date(2010, 6, 23))
(Decimal('108'), 'Nancy', 'Greenberg', 'NGREENBE', '515.124.4569', 'FI_MGR', Decimal('12000.00'), None, Decimal('101'), Decimal('100'), datetime.date(2015, 8, 29))
(Decimal('109'), 'Daniel', 'Faviet', 'DFAVIET', '515.124.4169', 'FI_ACCOUNT', Decimal('9000.00'), None, Decimal('108'), Decimal('100'), datetime.date(2021, 12, 22))
(Decimal('110'), 'John', 'Chen', 'JCHEN', '515.124.4269', 'FI_ACCOUNT', Decimal('8200.00'), None, Decimal('108'), Decimal('100'), datetime.date(2013, 2, 14))
(Decimal('111'), 'Ismael', 'Sciarra', 'ISCIARRA', '515.124.4369', 'FI_ACCOUNT', Decimal('7700.00'), None, Decimal('108'), Decimal('100'), datetime.date(2024, 8, 1))
(Decimal('112'), 'Jose Manuel', 'Urman', 'JMURMAN', '515.124.4469', 'FI_ACCOUNT', Decimal('7800.00'), None, Decimal('108'), Decimal('100'), datetime.date(2008, 11, 21))
(Decimal('113'), 'Luis', 'Popp', 'LPOPP', '515.124.4567', 'FI_ACCOUNT', Decimal('6900.00'), None, Decimal('108'), Decimal('100'), datetime.date(2020, 6, 21))
(Decimal('114'), 'Den', 'Raphaely', 'DRAPHEAL', '515.127.4561', 'PU_MAN', Decimal('11000.00'), None, Decimal('100'), Decimal('30'), datetime.date(2001, 1, 9))
(Decimal('115'), 'Alexander', 'Khoo', 'AKHOO', '515.127.4562', 'PU_CLERK', Decimal('3100.00'), None, Decimal('114'), Decimal('30'), datetime.date(2018, 5, 14))
(Decimal('116'), 'Shelli', 'Baida', 'SBAIDA', '515.127.4563', 'PU_CLERK', Decimal('2900.00'), None, Decimal('114'), Decimal('30'), datetime.date(2014, 2, 7))
(Decimal('117'), 'Sigal', 'Tobias', 'STOBIAS', '515.127.4564', 'PU_CLERK', Decimal('2800.00'), None, Decimal('114'), Decimal('30'), datetime.date(2015, 6, 4))
(Decimal('118'), 'Guy', 'Himuro', 'GHIMURO', '515.127.4565', 'PU_CLERK', Decimal('2600.00'), None, Decimal('114'), Decimal('30'), datetime.date(2009, 11, 30))
(Decimal('119'), 'Karen', 'Colmenares', 'KCOLMENA', '515.127.4566', 'PU_CLERK', Decimal('2500.00'), None, Decimal('114'), Decimal('30'), datetime.date(2003, 4, 20))
(Decimal('120'), 'Matthew', 'Weiss', 'MWEISS', '650.123.1234', 'ST_MAN', Decimal('8000.00'), None, Decimal('100'), Decimal('50'), datetime.date(2011, 8, 27))
(Decimal('121'), 'Adam', 'Fripp', 'AFRIPP', '650.123.2234', 'ST_MAN', Decimal('8200.00'), None, Decimal('100'), Decimal('50'), datetime.date(2023, 6, 21))
(Decimal('122'), 'Payam', 'Kaufling', 'PKAUFLIN', '650.123.3234', 'ST_MAN', Decimal('7900.00'), None, Decimal('100'), Decimal('50'), datetime.date(2007, 9, 26))
(Decimal('123'), 'Shanta', 'Vollman', 'SVOLLMAN', '650.123.4234', 'ST_MAN', Decimal('6500.00'), None, Decimal('100'), Decimal('50'), datetime.date(2018, 1, 14))
(Decimal('124'), 'Kevin', 'Mourgos', 'KMOURGOS', '650.123.5234', 'ST_MAN', Decimal('5800.00'), None, Decimal('100'), Decimal('50'), datetime.date(2017, 3, 20))
(Decimal('125'), 'Julia', 'Nayer', 'JNAYER', '650.124.1214', 'ST_CLERK', Decimal('3200.00'), None, Decimal('120'), Decimal('50'), datetime.date(2007, 1, 28))
(Decimal('126'), 'Irene', 'Mikkilineni', 'IMIKKILI', '650.124.1224', 'ST_CLERK', Decimal('2700.00'), None, Decimal('120'), Decimal('50'), datetime.date(2008, 8, 13))
(Decimal('127'), 'James', 'Landry', 'JLANDRY', '650.124.1334', 'ST_CLERK', Decimal('2400.00'), None, Decimal('120'), Decimal('50'), datetime.date(2021, 11, 11))
(Decimal('128'), 'Steven', 'Markle', 'SMARKLE', '650.124.1434', 'ST_CLERK', Decimal('2200.00'), None, Decimal('120'), Decimal('50'), datetime.date(2008, 10, 18))
(Decimal('129'), 'Laura', 'Bissot', 'LBISSOT', '650.124.5234', 'ST_CLERK', Decimal('3300.00'), None, Decimal('121'), Decimal('50'), datetime.date(2003, 4, 16))
(Decimal('130'), 'Mozhe', 'Atkinson', 'MATKINSO', '650.124.6234', 'ST_CLERK', Decimal('2800.00'), None, Decimal('121'), Decimal('50'), datetime.date(2014, 12, 10))
(Decimal('131'), 'James', 'Marlow', 'JAMRLOW', '650.124.7234', 'ST_CLERK', Decimal('2500.00'), None, Decimal('121'), Decimal('50'), datetime.date(2015, 1, 23))
(Decimal('132'), 'TJ', 'Olson', 'TJOLSON', '650.124.8234', 'ST_CLERK', Decimal('2100.00'), None, Decimal('121'), Decimal('50'), datetime.date(2005, 8, 8))
(Decimal('133'), 'Jason', 'Mallin', 'JMALLIN', '650.127.1934', 'ST_CLERK', Decimal('3300.00'), None, Decimal('122'), Decimal('50'), datetime.date(2007, 9, 18))
(Decimal('134'), 'Michael', 'Rogers', 'MROGERS', '650.127.1834', 'ST_CLERK', Decimal('2900.00'), None, Decimal('122'), Decimal('50'), datetime.date(2021, 10, 4))
(Decimal('135'), 'Ki', 'Gee', 'KGEE', '650.127.1734', 'ST_CLERK', Decimal('2400.00'), None, Decimal('122'), Decimal('50'), datetime.date(2010, 12, 29))
(Decimal('136'), 'Hazel', 'Philtanker', 'HPHILTAN', '650.127.1634', 'ST_CLERK', Decimal('2200.00'), None, Decimal('122'), Decimal('50'), datetime.date(2014, 8, 1))
(Decimal('137'), 'Renske', 'Ladwig', 'RLADWIG', '650.121.1234', 'ST_CLERK', Decimal('3600.00'), None, Decimal('123'), Decimal('50'), datetime.date(2015, 1, 16))
(Decimal('138'), 'Stephen', 'Stiles', 'SSTILES', '650.121.2034', 'ST_CLERK', Decimal('3200.00'), None, Decimal('123'), Decimal('50'), datetime.date(2006, 7, 31))
(Decimal('139'), 'John', 'Seo', 'JSEO', '650.121.2019', 'ST_CLERK', Decimal('2700.00'), None, Decimal('123'), Decimal('50'), datetime.date(2012, 8, 27))
(Decimal('140'), 'Joshua', 'Patel', 'JPATEL', '650.121.1834', 'ST_CLERK', Decimal('2500.00'), None, Decimal('123'), Decimal('50'), datetime.date(2018, 8, 26))
(Decimal('141'), 'Trenna', 'Rajs', 'TRAJS', '650.121.8009', 'ST_CLERK', Decimal('3500.00'), None, Decimal('124'), Decimal('50'), datetime.date(2005, 7, 9))
(Decimal('142'), 'Curtis', 'Davies', 'CDAVIES', '650.121.2994', 'ST_CLERK', Decimal('3100.00'), None, Decimal('124'), Decimal('50'), datetime.date(2021, 6, 3))
(Decimal('143'), 'Randall', 'Matos', 'RMATOS', '650.121.2874', 'ST_CLERK', Decimal('2600.00'), None, Decimal('124'), Decimal('50'), datetime.date(2015, 11, 20))
(Decimal('144'), 'Peter', 'Vargas', 'PVARGAS', '650.121.2004', 'ST_CLERK', Decimal('2500.00'), None, Decimal('124'), Decimal('50'), datetime.date(2015, 3, 3))
(Decimal('145'), 'John', 'Russell', 'JRUSSEL', '011.44.1344.429268', 'SA_MAN', Decimal('14000.00'), Decimal('0.40'), Decimal('100'), Decimal('80'), datetime.date(2003, 4, 18))
(Decimal('146'), 'Karen', 'Partners', 'KPARTNER', '011.44.1344.467268', 'SA_MAN', Decimal('13500.00'), Decimal('0.30'), Decimal('100'), Decimal('80'), datetime.date(2020, 9, 30))
(Decimal('147'), 'Alberto', 'Errazuriz', 'AERRAZUR', '011.44.1344.429278', 'SA_MAN', Decimal('12000.00'), Decimal('0.30'), Decimal('100'), Decimal('80'), datetime.date(2019, 3, 12))
(Decimal('148'), 'Gerald', 'Cambrault', 'GCAMBRAU', '011.44.1344.619268', 'SA_MAN', Decimal('11000.00'), Decimal('0.30'), Decimal('100'), Decimal('80'), datetime.date(2008, 10, 30))
(Decimal('149'), 'Eleni', 'Zlotkey', 'EZLOTKEY', '011.44.1344.429018', 'SA_MAN', Decimal('10500.00'), Decimal('0.20'), Decimal('100'), Decimal('80'), datetime.date(2011, 6, 20))
(Decimal('150'), 'Peter', 'Tucker', 'PTUCKER', '011.44.1344.129268', 'SA_REP', Decimal('10000.00'), Decimal('0.30'), Decimal('145'), Decimal('80'), datetime.date(2005, 12, 14))
(Decimal('151'), 'David', 'Bernstein', 'DBERNSTE', '011.44.1344.345268', 'SA_REP', Decimal('9500.00'), Decimal('0.25'), Decimal('145'), Decimal('80'), datetime.date(2020, 3, 31))
(Decimal('152'), 'Peter', 'Hall', 'PHALL', '011.44.1344.478968', 'SA_REP', Decimal('9000.00'), Decimal('0.25'), Decimal('145'), Decimal('80'), datetime.date(2008, 9, 20))
(Decimal('153'), 'Christopher', 'Olsen', 'COLSEN', '011.44.1344.498718', 'SA_REP', Decimal('8000.00'), Decimal('0.20'), Decimal('145'), Decimal('80'), datetime.date(2007, 10, 1))
(Decimal('154'), 'Nanette', 'Cambrault', 'NCAMBRAU', '011.44.1344.987668', 'SA_REP', Decimal('7500.00'), Decimal('0.20'), Decimal('145'), Decimal('80'), datetime.date(2012, 7, 30))
(Decimal('155'), 'Oliver', 'Tuvault', 'OTUVAULT', '011.44.1344.486508', 'SA_REP', Decimal('7000.00'), Decimal('0.15'), Decimal('145'), Decimal('80'), datetime.date(2014, 10, 6))
(Decimal('156'), 'Janette', 'King', 'JKING', '011.44.1345.429268', 'SA_REP', Decimal('10000.00'), Decimal('0.35'), Decimal('146'), Decimal('80'), datetime.date(2011, 3, 14))
(Decimal('157'), 'Patrick', 'Sully', 'PSULLY', '011.44.1345.929268', 'SA_REP', Decimal('9500.00'), Decimal('0.35'), Decimal('146'), Decimal('80'), datetime.date(2011, 9, 13))
(Decimal('158'), 'Allan', 'McEwen', 'AMCEWEN', '011.44.1345.829268', 'SA_REP', Decimal('9000.00'), Decimal('0.35'), Decimal('146'), Decimal('80'), datetime.date(2000, 1, 6))
(Decimal('159'), 'Lindsey', 'Smith', 'LSMITH', '011.44.1345.729268', 'SA_REP', Decimal('8000.00'), Decimal('0.30'), Decimal('146'), Decimal('80'), datetime.date(2014, 10, 3))
(Decimal('160'), 'Louise', 'Doran', 'LDORAN', '011.44.1345.629268', 'SA_REP', Decimal('7500.00'), Decimal('0.30'), Decimal('146'), Decimal('80'), datetime.date(2023, 12, 14))
(Decimal('161'), 'Sarath', 'Sewall', 'SSEWALL', '011.44.1345.529268', 'SA_REP', Decimal('7000.00'), Decimal('0.25'), Decimal('146'), Decimal('80'), datetime.date(2000, 11, 2))
(Decimal('162'), 'Clara', 'Vishney', 'CVISHNEY', '011.44.1346.129268', 'SA_REP', Decimal('10500.00'), Decimal('0.25'), Decimal('147'), Decimal('80'), datetime.date(2006, 12, 30))
(Decimal('163'), 'Danielle', 'Greene', 'DGREENE', '011.44.1346.229268', 'SA_REP', Decimal('9500.00'), Decimal('0.15'), Decimal('147'), Decimal('80'), datetime.date(2007, 7, 30))
(Decimal('164'), 'Mattea', 'Marvins', 'MMARVINS', '011.44.1346.329268', 'SA_REP', Decimal('7200.00'), Decimal('0.10'), Decimal('147'), Decimal('80'), datetime.date(2016, 11, 23))
(Decimal('165'), 'David', 'Lee', 'DLEE', '011.44.1346.529268', 'SA_REP', Decimal('6800.00'), Decimal('0.10'), Decimal('147'), Decimal('80'), datetime.date(2011, 12, 25))
(Decimal('166'), 'Sundar', 'Ande', 'SANDE', '011.44.1346.629268', 'SA_REP', Decimal('6400.00'), Decimal('0.10'), Decimal('147'), Decimal('80'), datetime.date(2009, 3, 21))
(Decimal('167'), 'Amit', 'Banda', 'ABANDA', '011.44.1346.729268', 'SA_REP', Decimal('6200.00'), Decimal('0.10'), Decimal('147'), Decimal('80'), datetime.date(2010, 2, 23))
(Decimal('168'), 'Lisa', 'Ozer', 'LOZER', '011.44.1343.929268', 'SA_REP', Decimal('11500.00'), Decimal('0.25'), Decimal('148'), Decimal('80'), datetime.date(2023, 1, 30))
(Decimal('169'), 'Harrison', 'Bloom', 'HBLOOM', '011.44.1343.829268', 'SA_REP', Decimal('10000.00'), Decimal('0.20'), Decimal('148'), Decimal('80'), datetime.date(2010, 4, 21))
(Decimal('170'), 'Tayler', 'Fox', 'TFOX', '011.44.1343.729268', 'SA_REP', Decimal('9600.00'), Decimal('0.20'), Decimal('148'), Decimal('80'), datetime.date(2007, 3, 1))
(Decimal('171'), 'William', 'Smith', 'WSMITH', '011.44.1343.629268', 'SA_REP', Decimal('7400.00'), Decimal('0.15'), Decimal('148'), Decimal('80'), datetime.date(2004, 11, 25))
(Decimal('172'), 'Elizabeth', 'Bates', 'EBATES', '011.44.1343.529268', 'SA_REP', Decimal('7300.00'), Decimal('0.15'), Decimal('148'), Decimal('80'), datetime.date(2003, 1, 9))
(Decimal('173'), 'Sundita', 'Kumar', 'SKUMAR', '011.44.1343.329268', 'SA_REP', Decimal('6100.00'), Decimal('0.10'), Decimal('148'), Decimal('80'), datetime.date(2000, 5, 28))
(Decimal('174'), 'Ellen', 'Abel', 'EABEL', '011.44.1644.429267', 'SA_REP', Decimal('11000.00'), Decimal('0.30'), Decimal('149'), Decimal('80'), datetime.date(2017, 11, 7))
(Decimal('175'), 'Alyssa', 'Hutton', 'AHUTTON', '011.44.1644.429266', 'SA_REP', Decimal('8800.00'), Decimal('0.25'), Decimal('149'), Decimal('80'), datetime.date(2013, 5, 18))
(Decimal('176'), 'Jonathon', 'Taylor', 'JTAYLOR', '011.44.1644.429265', 'SA_REP', Decimal('8600.00'), Decimal('0.20'), Decimal('149'), Decimal('80'), datetime.date(2013, 5, 2))
(Decimal('177'), 'Jack', 'Livingston', 'JLIVINGS', '011.44.1644.429264', 'SA_REP', Decimal('8400.00'), Decimal('0.20'), Decimal('149'), Decimal('80'), datetime.date(2001, 8, 25))
(Decimal('178'), 'Kimberely', 'Grant', 'KGRANT', '011.44.1644.429263', 'SA_REP', Decimal('7000.00'), Decimal('0.15'), Decimal('149'), None, datetime.date(2018, 1, 7))
(Decimal('179'), 'Charles', 'Johnson', 'CJOHNSON', '011.44.1644.429262', 'SA_REP', Decimal('6200.00'), Decimal('0.10'), Decimal('149'), Decimal('80'), datetime.date(2010, 6, 27))
(Decimal('180'), 'Winston', 'Taylor', 'WTAYLOR', '650.507.9876', 'SH_CLERK', Decimal('3200.00'), None, Decimal('120'), Decimal('50'), datetime.date(2023, 4, 9))
(Decimal('181'), 'Jean', 'Fleaur', 'JFLEAUR', '650.507.9877', 'SH_CLERK', Decimal('3100.00'), None, Decimal('120'), Decimal('50'), datetime.date(2010, 3, 24))
(Decimal('182'), 'Martha', 'Sullivan', 'MSULLIVA', '650.507.9878', 'SH_CLERK', Decimal('2500.00'), None, Decimal('120'), Decimal('50'), datetime.date(2006, 3, 20))
(Decimal('183'), 'Girard', 'Geoni', 'GGEONI', '650.507.9879', 'SH_CLERK', Decimal('2800.00'), None, Decimal('120'), Decimal('50'), datetime.date(2000, 5, 23))
(Decimal('184'), 'Nandita', 'Sarchand', 'NSARCHAN', '650.509.1876', 'SH_CLERK', Decimal('4200.00'), None, Decimal('121'), Decimal('50'), datetime.date(2008, 3, 16))
(Decimal('185'), 'Alexis', 'Bull', 'ABULL', '650.509.2876', 'SH_CLERK', Decimal('4100.00'), None, Decimal('121'), Decimal('50'), datetime.date(2014, 12, 17))
(Decimal('186'), 'Julia', 'Dellinger', 'JDELLING', '650.509.3876', 'SH_CLERK', Decimal('3400.00'), None, Decimal('121'), Decimal('50'), datetime.date(2000, 6, 1))
(Decimal('187'), 'Anthony', 'Cabrio', 'ACABRIO', '650.509.4876', 'SH_CLERK', Decimal('3000.00'), None, Decimal('121'), Decimal('50'), datetime.date(2006, 12, 21))
(Decimal('188'), 'Kelly', 'Chung', 'KCHUNG', '650.505.1876', 'SH_CLERK', Decimal('3800.00'), None, Decimal('122'), Decimal('50'), datetime.date(2008, 9, 20))
(Decimal('189'), 'Jennifer', 'Dilly', 'JDILLY', '650.505.2876', 'SH_CLERK', Decimal('3600.00'), None, Decimal('122'), Decimal('50'), datetime.date(2022, 9, 11))
(Decimal('190'), 'Timothy', 'Gates', 'TGATES', '650.505.3876', 'SH_CLERK', Decimal('2900.00'), None, Decimal('122'), Decimal('50'), datetime.date(2012, 8, 26))
(Decimal('191'), 'Randall', 'Perkins', 'RPERKINS', '650.505.4876', 'SH_CLERK', Decimal('2500.00'), None, Decimal('122'), Decimal('50'), datetime.date(2020, 1, 24))
(Decimal('192'), 'Sarah', 'Bell', 'SBELL', '650.501.1876', 'SH_CLERK', Decimal('4000.00'), None, Decimal('123'), Decimal('50'), datetime.date(2012, 8, 3))
(Decimal('193'), 'Britney', 'Everett', 'BEVERETT', '650.501.2876', 'SH_CLERK', Decimal('3900.00'), None, Decimal('123'), Decimal('50'), datetime.date(2002, 10, 5))
(Decimal('194'), 'Samuel', 'McCain', 'SMCCAIN', '650.501.3876', 'SH_CLERK', Decimal('3200.00'), None, Decimal('123'), Decimal('50'), datetime.date(2000, 11, 30))
(Decimal('195'), 'Vance', 'Jones', 'VJONES', '650.501.4876', 'SH_CLERK', Decimal('2800.00'), None, Decimal('123'), Decimal('50'), datetime.date(2021, 3, 8))
(Decimal('196'), 'Alana', 'Walsh', 'AWALSH', '650.507.9811', 'SH_CLERK', Decimal('3100.00'), None, Decimal('124'), Decimal('50'), datetime.date(2003, 8, 18))
(Decimal('197'), 'Kevin', 'Feeney', 'KFEENEY', '650.507.9822', 'SH_CLERK', Decimal('3000.00'), None, Decimal('124'), Decimal('50'), datetime.date(2004, 5, 14))
(Decimal('198'), 'Donald', 'OConnell', 'DOCONNEL', '650.507.9833', 'SH_CLERK', Decimal('2600.00'), None, Decimal('124'), Decimal('50'), datetime.date(2010, 12, 14))
(Decimal('199'), 'Douglas', 'Grant', 'DGRANT', '650.507.9844', 'SH_CLERK', Decimal('2600.00'), None, Decimal('124'), Decimal('50'), datetime.date(2016, 10, 8))
(Decimal('200'), 'Jennifer', 'Whalen', 'JWHALEN', '515.123.4444', 'AD_ASST', Decimal('4400.00'), None, Decimal('101'), Decimal('10'), datetime.date(2001, 3, 21))
(Decimal('201'), 'Michael', 'Hartstein', 'MHARTSTE', '515.123.5555', 'MK_MAN', Decimal('13000.00'), None, Decimal('100'), Decimal('20'), datetime.date(2005, 7, 24))
(Decimal('202'), 'Pat', 'Fay', 'PFAY', '603.123.6666', 'MK_REP', Decimal('6000.00'), None, Decimal('201'), Decimal('20'), datetime.date(2024, 2, 25))
(Decimal('203'), 'Susan', 'Mavris', 'SMAVRIS', '515.123.7777', 'HR_REP', Decimal('6500.00'), None, Decimal('101'), Decimal('40'), datetime.date(2004, 7, 11))
(Decimal('204'), 'Hermann', 'Baer', 'HBAER', '515.123.8888', 'PR_REP', Decimal('10000.00'), None, Decimal('101'), Decimal('70'), datetime.date(2024, 11, 3))
(Decimal('205'), 'Shelley', 'Higgins', 'SHIGGINS', '515.123.8080', 'AC_MGR', Decimal('12000.00'), None, Decimal('101'), Decimal('110'), datetime.date(2011, 1, 30))
(Decimal('206'), 'William', 'Gietz', 'WGIETZ', '515.123.8181', 'AC_ACCOUNT', Decimal('8300.00'), None, Decimal('205'), Decimal('110'), datetime.date(2005, 10, 8))

In [14]:
id = 60
salary = 20000

cursor.execute(
"SELECT * FROM employees WHERE department_id = %s OR salary > %s",
(id, salary)
)
for r in cursor:
    print(r)

(Decimal('100'), 'Steven', 'King', 'SKING', '515.123.4567', 'AD_PRES', Decimal('24000.00'), None, None, Decimal('90'), datetime.date(2016, 6, 4))
(Decimal('103'), 'Alexander', 'Hunold', 'AHUNOLD', '590.423.4567', 'IT_PROG', Decimal('9000.00'), None, Decimal('102'), Decimal('60'), datetime.date(2002, 4, 10))
(Decimal('104'), 'Bruce', 'Ernst', 'BERNST', '590.423.4568', 'IT_PROG', Decimal('6000.00'), None, Decimal('103'), Decimal('60'), datetime.date(2021, 5, 3))
(Decimal('105'), 'David', 'Austin', 'DAUSTIN', '590.423.4569', 'IT_PROG', Decimal('4800.00'), None, Decimal('103'), Decimal('60'), datetime.date(2000, 4, 26))
(Decimal('106'), 'Valli', 'Pataballa', 'VPATABAL', '590.423.4560', 'IT_PROG', Decimal('4800.00'), None, Decimal('103'), Decimal('60'), datetime.date(2012, 3, 29))
(Decimal('107'), 'Diana', 'Lorentz', 'DLORENTZ', '590.423.5567', 'IT_PROG', Decimal('4200.00'), None, Decimal('103'), Decimal('60'), datetime.date(2010, 6, 23))

In [19]:
user_input = "1 OR 1=1"
# user_input = "100"
cursor.execute(
    "SELECT * FROM employees WHERE employee_id = %s",
    (user_input,)
)
for r in cursor:
    print(r)

In [ ]:
SELECT * FROM employees WHERE employee_id = 1 OR 1=1
SELECT * FROM employees WHERE employee_id = '1 OR 1=1'

In [20]:
db_conn = {
    'host': 'ich-db.edu.itcareerhub.de',
    'user': 'ich1',
    'password': 'password',
    'database': 'hr'
}

with pymysql.connect(**db_conn) as connection:
    with connection.cursor() as cursor:
        cursor.execute("SELECT * FROM employees")
        for row in cursor:
            print(row)

(Decimal('100'), 'Steven', 'King', 'SKING', '515.123.4567', 'AD_PRES', Decimal('24000.00'), None, None, Decimal('90'), datetime.date(2016, 6, 4))
(Decimal('101'), 'Neena', 'Kochhar', 'NKOCHHAR', '515.123.4568', 'AD_VP', Decimal('17000.00'), None, Decimal('100'), Decimal('90'), datetime.date(2015, 10, 29))
(Decimal('102'), 'Lex', 'De Haan', 'LDEHAAN', '515.123.4569', 'AD_VP', Decimal('17000.00'), None, Decimal('100'), Decimal('90'), datetime.date(2004, 12, 21))
(Decimal('103'), 'Alexander', 'Hunold', 'AHUNOLD', '590.423.4567', 'IT_PROG', Decimal('9000.00'), None, Decimal('102'), Decimal('60'), datetime.date(2002, 4, 10))
(Decimal('104'), 'Bruce', 'Ernst', 'BERNST', '590.423.4568', 'IT_PROG', Decimal('6000.00'), None, Decimal('103'), Decimal('60'), datetime.date(2021, 5, 3))
(Decimal('105'), 'David', 'Austin', 'DAUSTIN', '590.423.4569', 'IT_PROG', Decimal('4800.00'), None, Decimal('103'), Decimal('60'), datetime.date(2000, 4, 26))
(Decimal('106'), 'Valli', 'Pataballa', 'VPATABAL', '590.423.4560', 'IT_PROG', Decimal('4800.00'), None, Decimal('103'), Decimal('60'), datetime.date(2012, 3, 29))
(Decimal('107'), 'Diana', 'Lorentz', 'DLORENTZ', '590.423.5567', 'IT_PROG', Decimal('4200.00'), None, Decimal('103'), Decimal('60'), datetime.date(2010, 6, 23))
(Decimal('108'), 'Nancy', 'Greenberg', 'NGREENBE', '515.124.4569', 'FI_MGR', Decimal('12000.00'), None, Decimal('101'), Decimal('100'), datetime.date(2015, 8, 29))
(Decimal('109'), 'Daniel', 'Faviet', 'DFAVIET', '515.124.4169', 'FI_ACCOUNT', Decimal('9000.00'), None, Decimal('108'), Decimal('100'), datetime.date(2021, 12, 22))
(Decimal('110'), 'John', 'Chen', 'JCHEN', '515.124.4269', 'FI_ACCOUNT', Decimal('8200.00'), None, Decimal('108'), Decimal('100'), datetime.date(2013, 2, 14))
(Decimal('111'), 'Ismael', 'Sciarra', 'ISCIARRA', '515.124.4369', 'FI_ACCOUNT', Decimal('7700.00'), None, Decimal('108'), Decimal('100'), datetime.date(2024, 8, 1))
(Decimal('112'), 'Jose Manuel', 'Urman', 'JMURMAN', '515.124.4469', 'FI_ACCOUNT', Decimal('7800.00'), None, Decimal('108'), Decimal('100'), datetime.date(2008, 11, 21))
(Decimal('113'), 'Luis', 'Popp', 'LPOPP', '515.124.4567', 'FI_ACCOUNT', Decimal('6900.00'), None, Decimal('108'), Decimal('100'), datetime.date(2020, 6, 21))
(Decimal('114'), 'Den', 'Raphaely', 'DRAPHEAL', '515.127.4561', 'PU_MAN', Decimal('11000.00'), None, Decimal('100'), Decimal('30'), datetime.date(2001, 1, 9))
(Decimal('115'), 'Alexander', 'Khoo', 'AKHOO', '515.127.4562', 'PU_CLERK', Decimal('3100.00'), None, Decimal('114'), Decimal('30'), datetime.date(2018, 5, 14))
(Decimal('116'), 'Shelli', 'Baida', 'SBAIDA', '515.127.4563', 'PU_CLERK', Decimal('2900.00'), None, Decimal('114'), Decimal('30'), datetime.date(2014, 2, 7))
(Decimal('117'), 'Sigal', 'Tobias', 'STOBIAS', '515.127.4564', 'PU_CLERK', Decimal('2800.00'), None, Decimal('114'), Decimal('30'), datetime.date(2015, 6, 4))
(Decimal('118'), 'Guy', 'Himuro', 'GHIMURO', '515.127.4565', 'PU_CLERK', Decimal('2600.00'), None, Decimal('114'), Decimal('30'), datetime.date(2009, 11, 30))
(Decimal('119'), 'Karen', 'Colmenares', 'KCOLMENA', '515.127.4566', 'PU_CLERK', Decimal('2500.00'), None, Decimal('114'), Decimal('30'), datetime.date(2003, 4, 20))
(Decimal('120'), 'Matthew', 'Weiss', 'MWEISS', '650.123.1234', 'ST_MAN', Decimal('8000.00'), None, Decimal('100'), Decimal('50'), datetime.date(2011, 8, 27))
(Decimal('121'), 'Adam', 'Fripp', 'AFRIPP', '650.123.2234', 'ST_MAN', Decimal('8200.00'), None, Decimal('100'), Decimal('50'), datetime.date(2023, 6, 21))
(Decimal('122'), 'Payam', 'Kaufling', 'PKAUFLIN', '650.123.3234', 'ST_MAN', Decimal('7900.00'), None, Decimal('100'), Decimal('50'), datetime.date(2007, 9, 26))
(Decimal('123'), 'Shanta', 'Vollman', 'SVOLLMAN', '650.123.4234', 'ST_MAN', Decimal('6500.00'), None, Decimal('100'), Decimal('50'), datetime.date(2018, 1, 14))
(Decimal('124'), 'Kevin', 'Mourgos', 'KMOURGOS', '650.123.5234', 'ST_MAN', Decimal('5800.00'), None, Decimal('100'), Decimal('50'), datetime.date(2017, 3, 20))
(Decimal('125'), 'Julia', 'Nayer', 'JNAYER', '650.124.1214', 'ST_CLERK', Decimal('3200.00'), None, Decimal('120'), Decimal('50'), datetime.date(2007, 1, 28))
(Decimal('126'), 'Irene', 'Mikkilineni', 'IMIKKILI', '650.124.1224', 'ST_CLERK', Decimal('2700.00'), None, Decimal('120'), Decimal('50'), datetime.date(2008, 8, 13))
(Decimal('127'), 'James', 'Landry', 'JLANDRY', '650.124.1334', 'ST_CLERK', Decimal('2400.00'), None, Decimal('120'), Decimal('50'), datetime.date(2021, 11, 11))
(Decimal('128'), 'Steven', 'Markle', 'SMARKLE', '650.124.1434', 'ST_CLERK', Decimal('2200.00'), None, Decimal('120'), Decimal('50'), datetime.date(2008, 10, 18))
(Decimal('129'), 'Laura', 'Bissot', 'LBISSOT', '650.124.5234', 'ST_CLERK', Decimal('3300.00'), None, Decimal('121'), Decimal('50'), datetime.date(2003, 4, 16))
(Decimal('130'), 'Mozhe', 'Atkinson', 'MATKINSO', '650.124.6234', 'ST_CLERK', Decimal('2800.00'), None, Decimal('121'), Decimal('50'), datetime.date(2014, 12, 10))
(Decimal('131'), 'James', 'Marlow', 'JAMRLOW', '650.124.7234', 'ST_CLERK', Decimal('2500.00'), None, Decimal('121'), Decimal('50'), datetime.date(2015, 1, 23))
(Decimal('132'), 'TJ', 'Olson', 'TJOLSON', '650.124.8234', 'ST_CLERK', Decimal('2100.00'), None, Decimal('121'), Decimal('50'), datetime.date(2005, 8, 8))
(Decimal('133'), 'Jason', 'Mallin', 'JMALLIN', '650.127.1934', 'ST_CLERK', Decimal('3300.00'), None, Decimal('122'), Decimal('50'), datetime.date(2007, 9, 18))
(Decimal('134'), 'Michael', 'Rogers', 'MROGERS', '650.127.1834', 'ST_CLERK', Decimal('2900.00'), None, Decimal('122'), Decimal('50'), datetime.date(2021, 10, 4))
(Decimal('135'), 'Ki', 'Gee', 'KGEE', '650.127.1734', 'ST_CLERK', Decimal('2400.00'), None, Decimal('122'), Decimal('50'), datetime.date(2010, 12, 29))
(Decimal('136'), 'Hazel', 'Philtanker', 'HPHILTAN', '650.127.1634', 'ST_CLERK', Decimal('2200.00'), None, Decimal('122'), Decimal('50'), datetime.date(2014, 8, 1))
(Decimal('137'), 'Renske', 'Ladwig', 'RLADWIG', '650.121.1234', 'ST_CLERK', Decimal('3600.00'), None, Decimal('123'), Decimal('50'), datetime.date(2015, 1, 16))
(Decimal('138'), 'Stephen', 'Stiles', 'SSTILES', '650.121.2034', 'ST_CLERK', Decimal('3200.00'), None, Decimal('123'), Decimal('50'), datetime.date(2006, 7, 31))
(Decimal('139'), 'John', 'Seo', 'JSEO', '650.121.2019', 'ST_CLERK', Decimal('2700.00'), None, Decimal('123'), Decimal('50'), datetime.date(2012, 8, 27))
(Decimal('140'), 'Joshua', 'Patel', 'JPATEL', '650.121.1834', 'ST_CLERK', Decimal('2500.00'), None, Decimal('123'), Decimal('50'), datetime.date(2018, 8, 26))
(Decimal('141'), 'Trenna', 'Rajs', 'TRAJS', '650.121.8009', 'ST_CLERK', Decimal('3500.00'), None, Decimal('124'), Decimal('50'), datetime.date(2005, 7, 9))
(Decimal('142'), 'Curtis', 'Davies', 'CDAVIES', '650.121.2994', 'ST_CLERK', Decimal('3100.00'), None, Decimal('124'), Decimal('50'), datetime.date(2021, 6, 3))
(Decimal('143'), 'Randall', 'Matos', 'RMATOS', '650.121.2874', 'ST_CLERK', Decimal('2600.00'), None, Decimal('124'), Decimal('50'), datetime.date(2015, 11, 20))
(Decimal('144'), 'Peter', 'Vargas', 'PVARGAS', '650.121.2004', 'ST_CLERK', Decimal('2500.00'), None, Decimal('124'), Decimal('50'), datetime.date(2015, 3, 3))
(Decimal('145'), 'John', 'Russell', 'JRUSSEL', '011.44.1344.429268', 'SA_MAN', Decimal('14000.00'), Decimal('0.40'), Decimal('100'), Decimal('80'), datetime.date(2003, 4, 18))
(Decimal('146'), 'Karen', 'Partners', 'KPARTNER', '011.44.1344.467268', 'SA_MAN', Decimal('13500.00'), Decimal('0.30'), Decimal('100'), Decimal('80'), datetime.date(2020, 9, 30))
(Decimal('147'), 'Alberto', 'Errazuriz', 'AERRAZUR', '011.44.1344.429278', 'SA_MAN', Decimal('12000.00'), Decimal('0.30'), Decimal('100'), Decimal('80'), datetime.date(2019, 3, 12))
(Decimal('148'), 'Gerald', 'Cambrault', 'GCAMBRAU', '011.44.1344.619268', 'SA_MAN', Decimal('11000.00'), Decimal('0.30'), Decimal('100'), Decimal('80'), datetime.date(2008, 10, 30))
(Decimal('149'), 'Eleni', 'Zlotkey', 'EZLOTKEY', '011.44.1344.429018', 'SA_MAN', Decimal('10500.00'), Decimal('0.20'), Decimal('100'), Decimal('80'), datetime.date(2011, 6, 20))
(Decimal('150'), 'Peter', 'Tucker', 'PTUCKER', '011.44.1344.129268', 'SA_REP', Decimal('10000.00'), Decimal('0.30'), Decimal('145'), Decimal('80'), datetime.date(2005, 12, 14))
(Decimal('151'), 'David', 'Bernstein', 'DBERNSTE', '011.44.1344.345268', 'SA_REP', Decimal('9500.00'), Decimal('0.25'), Decimal('145'), Decimal('80'), datetime.date(2020, 3, 31))
(Decimal('152'), 'Peter', 'Hall', 'PHALL', '011.44.1344.478968', 'SA_REP', Decimal('9000.00'), Decimal('0.25'), Decimal('145'), Decimal('80'), datetime.date(2008, 9, 20))
(Decimal('153'), 'Christopher', 'Olsen', 'COLSEN', '011.44.1344.498718', 'SA_REP', Decimal('8000.00'), Decimal('0.20'), Decimal('145'), Decimal('80'), datetime.date(2007, 10, 1))
(Decimal('154'), 'Nanette', 'Cambrault', 'NCAMBRAU', '011.44.1344.987668', 'SA_REP', Decimal('7500.00'), Decimal('0.20'), Decimal('145'), Decimal('80'), datetime.date(2012, 7, 30))
(Decimal('155'), 'Oliver', 'Tuvault', 'OTUVAULT', '011.44.1344.486508', 'SA_REP', Decimal('7000.00'), Decimal('0.15'), Decimal('145'), Decimal('80'), datetime.date(2014, 10, 6))
(Decimal('156'), 'Janette', 'King', 'JKING', '011.44.1345.429268', 'SA_REP', Decimal('10000.00'), Decimal('0.35'), Decimal('146'), Decimal('80'), datetime.date(2011, 3, 14))
(Decimal('157'), 'Patrick', 'Sully', 'PSULLY', '011.44.1345.929268', 'SA_REP', Decimal('9500.00'), Decimal('0.35'), Decimal('146'), Decimal('80'), datetime.date(2011, 9, 13))
(Decimal('158'), 'Allan', 'McEwen', 'AMCEWEN', '011.44.1345.829268', 'SA_REP', Decimal('9000.00'), Decimal('0.35'), Decimal('146'), Decimal('80'), datetime.date(2000, 1, 6))
(Decimal('159'), 'Lindsey', 'Smith', 'LSMITH', '011.44.1345.729268', 'SA_REP', Decimal('8000.00'), Decimal('0.30'), Decimal('146'), Decimal('80'), datetime.date(2014, 10, 3))
(Decimal('160'), 'Louise', 'Doran', 'LDORAN', '011.44.1345.629268', 'SA_REP', Decimal('7500.00'), Decimal('0.30'), Decimal('146'), Decimal('80'), datetime.date(2023, 12, 14))
(Decimal('161'), 'Sarath', 'Sewall', 'SSEWALL', '011.44.1345.529268', 'SA_REP', Decimal('7000.00'), Decimal('0.25'), Decimal('146'), Decimal('80'), datetime.date(2000, 11, 2))
(Decimal('162'), 'Clara', 'Vishney', 'CVISHNEY', '011.44.1346.129268', 'SA_REP', Decimal('10500.00'), Decimal('0.25'), Decimal('147'), Decimal('80'), datetime.date(2006, 12, 30))
(Decimal('163'), 'Danielle', 'Greene', 'DGREENE', '011.44.1346.229268', 'SA_REP', Decimal('9500.00'), Decimal('0.15'), Decimal('147'), Decimal('80'), datetime.date(2007, 7, 30))
(Decimal('164'), 'Mattea', 'Marvins', 'MMARVINS', '011.44.1346.329268', 'SA_REP', Decimal('7200.00'), Decimal('0.10'), Decimal('147'), Decimal('80'), datetime.date(2016, 11, 23))
(Decimal('165'), 'David', 'Lee', 'DLEE', '011.44.1346.529268', 'SA_REP', Decimal('6800.00'), Decimal('0.10'), Decimal('147'), Decimal('80'), datetime.date(2011, 12, 25))
(Decimal('166'), 'Sundar', 'Ande', 'SANDE', '011.44.1346.629268', 'SA_REP', Decimal('6400.00'), Decimal('0.10'), Decimal('147'), Decimal('80'), datetime.date(2009, 3, 21))
(Decimal('167'), 'Amit', 'Banda', 'ABANDA', '011.44.1346.729268', 'SA_REP', Decimal('6200.00'), Decimal('0.10'), Decimal('147'), Decimal('80'), datetime.date(2010, 2, 23))
(Decimal('168'), 'Lisa', 'Ozer', 'LOZER', '011.44.1343.929268', 'SA_REP', Decimal('11500.00'), Decimal('0.25'), Decimal('148'), Decimal('80'), datetime.date(2023, 1, 30))
(Decimal('169'), 'Harrison', 'Bloom', 'HBLOOM', '011.44.1343.829268', 'SA_REP', Decimal('10000.00'), Decimal('0.20'), Decimal('148'), Decimal('80'), datetime.date(2010, 4, 21))
(Decimal('170'), 'Tayler', 'Fox', 'TFOX', '011.44.1343.729268', 'SA_REP', Decimal('9600.00'), Decimal('0.20'), Decimal('148'), Decimal('80'), datetime.date(2007, 3, 1))
(Decimal('171'), 'William', 'Smith', 'WSMITH', '011.44.1343.629268', 'SA_REP', Decimal('7400.00'), Decimal('0.15'), Decimal('148'), Decimal('80'), datetime.date(2004, 11, 25))
(Decimal('172'), 'Elizabeth', 'Bates', 'EBATES', '011.44.1343.529268', 'SA_REP', Decimal('7300.00'), Decimal('0.15'), Decimal('148'), Decimal('80'), datetime.date(2003, 1, 9))
(Decimal('173'), 'Sundita', 'Kumar', 'SKUMAR', '011.44.1343.329268', 'SA_REP', Decimal('6100.00'), Decimal('0.10'), Decimal('148'), Decimal('80'), datetime.date(2000, 5, 28))
(Decimal('174'), 'Ellen', 'Abel', 'EABEL', '011.44.1644.429267', 'SA_REP', Decimal('11000.00'), Decimal('0.30'), Decimal('149'), Decimal('80'), datetime.date(2017, 11, 7))
(Decimal('175'), 'Alyssa', 'Hutton', 'AHUTTON', '011.44.1644.429266', 'SA_REP', Decimal('8800.00'), Decimal('0.25'), Decimal('149'), Decimal('80'), datetime.date(2013, 5, 18))
(Decimal('176'), 'Jonathon', 'Taylor', 'JTAYLOR', '011.44.1644.429265', 'SA_REP', Decimal('8600.00'), Decimal('0.20'), Decimal('149'), Decimal('80'), datetime.date(2013, 5, 2))
(Decimal('177'), 'Jack', 'Livingston', 'JLIVINGS', '011.44.1644.429264', 'SA_REP', Decimal('8400.00'), Decimal('0.20'), Decimal('149'), Decimal('80'), datetime.date(2001, 8, 25))
(Decimal('178'), 'Kimberely', 'Grant', 'KGRANT', '011.44.1644.429263', 'SA_REP', Decimal('7000.00'), Decimal('0.15'), Decimal('149'), None, datetime.date(2018, 1, 7))
(Decimal('179'), 'Charles', 'Johnson', 'CJOHNSON', '011.44.1644.429262', 'SA_REP', Decimal('6200.00'), Decimal('0.10'), Decimal('149'), Decimal('80'), datetime.date(2010, 6, 27))
(Decimal('180'), 'Winston', 'Taylor', 'WTAYLOR', '650.507.9876', 'SH_CLERK', Decimal('3200.00'), None, Decimal('120'), Decimal('50'), datetime.date(2023, 4, 9))
(Decimal('181'), 'Jean', 'Fleaur', 'JFLEAUR', '650.507.9877', 'SH_CLERK', Decimal('3100.00'), None, Decimal('120'), Decimal('50'), datetime.date(2010, 3, 24))
(Decimal('182'), 'Martha', 'Sullivan', 'MSULLIVA', '650.507.9878', 'SH_CLERK', Decimal('2500.00'), None, Decimal('120'), Decimal('50'), datetime.date(2006, 3, 20))
(Decimal('183'), 'Girard', 'Geoni', 'GGEONI', '650.507.9879', 'SH_CLERK', Decimal('2800.00'), None, Decimal('120'), Decimal('50'), datetime.date(2000, 5, 23))
(Decimal('184'), 'Nandita', 'Sarchand', 'NSARCHAN', '650.509.1876', 'SH_CLERK', Decimal('4200.00'), None, Decimal('121'), Decimal('50'), datetime.date(2008, 3, 16))
(Decimal('185'), 'Alexis', 'Bull', 'ABULL', '650.509.2876', 'SH_CLERK', Decimal('4100.00'), None, Decimal('121'), Decimal('50'), datetime.date(2014, 12, 17))
(Decimal('186'), 'Julia', 'Dellinger', 'JDELLING', '650.509.3876', 'SH_CLERK', Decimal('3400.00'), None, Decimal('121'), Decimal('50'), datetime.date(2000, 6, 1))
(Decimal('187'), 'Anthony', 'Cabrio', 'ACABRIO', '650.509.4876', 'SH_CLERK', Decimal('3000.00'), None, Decimal('121'), Decimal('50'), datetime.date(2006, 12, 21))
(Decimal('188'), 'Kelly', 'Chung', 'KCHUNG', '650.505.1876', 'SH_CLERK', Decimal('3800.00'), None, Decimal('122'), Decimal('50'), datetime.date(2008, 9, 20))
(Decimal('189'), 'Jennifer', 'Dilly', 'JDILLY', '650.505.2876', 'SH_CLERK', Decimal('3600.00'), None, Decimal('122'), Decimal('50'), datetime.date(2022, 9, 11))
(Decimal('190'), 'Timothy', 'Gates', 'TGATES', '650.505.3876', 'SH_CLERK', Decimal('2900.00'), None, Decimal('122'), Decimal('50'), datetime.date(2012, 8, 26))
(Decimal('191'), 'Randall', 'Perkins', 'RPERKINS', '650.505.4876', 'SH_CLERK', Decimal('2500.00'), None, Decimal('122'), Decimal('50'), datetime.date(2020, 1, 24))
(Decimal('192'), 'Sarah', 'Bell', 'SBELL', '650.501.1876', 'SH_CLERK', Decimal('4000.00'), None, Decimal('123'), Decimal('50'), datetime.date(2012, 8, 3))
(Decimal('193'), 'Britney', 'Everett', 'BEVERETT', '650.501.2876', 'SH_CLERK', Decimal('3900.00'), None, Decimal('123'), Decimal('50'), datetime.date(2002, 10, 5))
(Decimal('194'), 'Samuel', 'McCain', 'SMCCAIN', '650.501.3876', 'SH_CLERK', Decimal('3200.00'), None, Decimal('123'), Decimal('50'), datetime.date(2000, 11, 30))
(Decimal('195'), 'Vance', 'Jones', 'VJONES', '650.501.4876', 'SH_CLERK', Decimal('2800.00'), None, Decimal('123'), Decimal('50'), datetime.date(2021, 3, 8))
(Decimal('196'), 'Alana', 'Walsh', 'AWALSH', '650.507.9811', 'SH_CLERK', Decimal('3100.00'), None, Decimal('124'), Decimal('50'), datetime.date(2003, 8, 18))
(Decimal('197'), 'Kevin', 'Feeney', 'KFEENEY', '650.507.9822', 'SH_CLERK', Decimal('3000.00'), None, Decimal('124'), Decimal('50'), datetime.date(2004, 5, 14))
(Decimal('198'), 'Donald', 'OConnell', 'DOCONNEL', '650.507.9833', 'SH_CLERK', Decimal('2600.00'), None, Decimal('124'), Decimal('50'), datetime.date(2010, 12, 14))
(Decimal('199'), 'Douglas', 'Grant', 'DGRANT', '650.507.9844', 'SH_CLERK', Decimal('2600.00'), None, Decimal('124'), Decimal('50'), datetime.date(2016, 10, 8))
(Decimal('200'), 'Jennifer', 'Whalen', 'JWHALEN', '515.123.4444', 'AD_ASST', Decimal('4400.00'), None, Decimal('101'), Decimal('10'), datetime.date(2001, 3, 21))
(Decimal('201'), 'Michael', 'Hartstein', 'MHARTSTE', '515.123.5555', 'MK_MAN', Decimal('13000.00'), None, Decimal('100'), Decimal('20'), datetime.date(2005, 7, 24))
(Decimal('202'), 'Pat', 'Fay', 'PFAY', '603.123.6666', 'MK_REP', Decimal('6000.00'), None, Decimal('201'), Decimal('20'), datetime.date(2024, 2, 25))
(Decimal('203'), 'Susan', 'Mavris', 'SMAVRIS', '515.123.7777', 'HR_REP', Decimal('6500.00'), None, Decimal('101'), Decimal('40'), datetime.date(2004, 7, 11))
(Decimal('204'), 'Hermann', 'Baer', 'HBAER', '515.123.8888', 'PR_REP', Decimal('10000.00'), None, Decimal('101'), Decimal('70'), datetime.date(2024, 11, 3))
(Decimal('205'), 'Shelley', 'Higgins', 'SHIGGINS', '515.123.8080', 'AC_MGR', Decimal('12000.00'), None, Decimal('101'), Decimal('110'), datetime.date(2011, 1, 30))
(Decimal('206'), 'William', 'Gietz', 'WGIETZ', '515.123.8181', 'AC_ACCOUNT', Decimal('8300.00'), None, Decimal('205'), Decimal('110'), datetime.date(2005, 10, 8))