In [1]:
x = {1, 2, 3, 4}
x.add(5)

print(x)

{1, 2, 3, 4, 5}

In [3]:
x = frozenset([1, 2, 3, 4, 6, 4, 4, 4, 5])
print(x)

frozenset({1, 2, 3, 4, 5, 6})

In [4]:
x = {1, 2, 3}
y = {5, 6, 7}

z = {x, y}

TypeError: unhashable type: 'set'

In [5]:
x = frozenset({1, 2, 3})
y = frozenset({5, 6, 7})

z = {x, y}
print(z)

{frozenset({1, 2, 3}), frozenset({5, 6, 7})}

In [6]:
x = {1: 'one', 2: 'two', 3: 'three'}
print(x)

{1: 'one', 2: 'two', 3: 'three'}

In [7]:
x[4] = 'four'
print(x)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [8]:
x[1] = 'odyn'

print(x)

{1: 'odyn', 2: 'two', 3: 'three', 4: 'four'}

In [9]:
del x[1]
print(x)

{2: 'two', 3: 'three', 4: 'four'}

In [10]:
print(x[2])

two

In [17]:
students_python_grades = {
    'Ivanov': [1, 2, 3, 4, 5],
    'Petrov': [1, 2, 3, 4, 5],
    'Sydorov': [1, 2, 3, 4, 5],
}

x = students_python_grades['Ivanov']
x.append(1)
print(students_python_grades)

students_python_grades['Nosenko'] = [1, 1, 1, 1]

print(students_python_grades)

{'Ivanov': [1, 2, 3, 4, 5, 1], 'Petrov': [1, 2, 3, 4, 5], 'Sydorov': [1, 2, 3, 4, 5]}
{'Ivanov': [1, 2, 3, 4, 5, 1], 'Petrov': [1, 2, 3, 4, 5], 'Sydorov': [1, 2, 3, 4, 5], 'Nosenko': [1, 1, 1, 1]}

In [18]:
x = {1: 'one', 2: 'two', 3: 'three'}
print(x[4])

KeyError: 4

In [21]:
x = {1: 'one', 2: 'two', 3: 'three'}
if 1 in x:
    print(x[1])

one

In [24]:
res = x.get(1)
if res:
    print(res)
else:
    print('Такого ключа нет')

one

In [29]:
x = {1: 'one', 2: 'two', 3: 'three'}
res = x.get(1, 'Error')
print(res)

one

In [32]:
x = {1: 'one', 2: 'two', 3: 'three'}

for key in x:
    print(key, x[key])

1 one
2 two
3 three

In [33]:
x.keys()

dict_keys([1, 2, 3])

In [34]:
x.values()

dict_values(['one', 'two', 'three'])

In [35]:
x.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [36]:
for key, value in x.items():
    print(key, value)

1 one
2 two
3 three

In [38]:
data = [
    '1 Bob Simson 19.58$ decorations',
    '2 Mary 66.7$ food',
    '3 Mary 98.91$ toys',
    '4 Aleksa 72.29$ drinks',
    '5 Maria Simson 84.48$ food',
    '6 Aleksa 100.41$ accessories',
    '7 Mary 19.9$ accessories',
    '8 Bob Simson 83.88$ drinks',
    '9 Bob Simson 58.21$ instruments',
    '10 Maria Simson 20.61$ accessories',
]

In [42]:
expenses_category = {}

for line in data:
    *_, money, category = line.split()
    money = float(money.replace('$', ''))
    if category in expenses_category:
        expenses_category[category] += money
    else:
        expenses_category[category] = money

for key, value in expenses_category.items():
    print(f'{key}: ${value:.2f}')

decorations: $19.58
food: $151.18
toys: $98.91
drinks: $156.17
accessories: $140.92
instruments: $58.21

In [43]:
expenses_category = {}

for line in data:
    *_, money, category = line.split()
    money = float(money.replace('$', ''))
    expenses_category[category] = expenses_category.get(category, 0) + money

for key, value in expenses_category.items():
    print(f'{key}: ${value:.2f}')

decorations: $19.58
food: $151.18
toys: $98.91
drinks: $156.17
accessories: $140.92
instruments: $58.21

In [45]:
user = {
    'first_name': 'Oleh',
    'last_name': 'Tymchuk',
    'age': 38
}

users = [
    {
        'first_name': 'Oleh',
        'last_name': 'Tymchuk',
        'age': 38
    },
    {
        'first_name': 'Alice',
        'last_name': 'Tymchuk',
        'age': 35
    },
    {
        'first_name': 'Bob',
        'last_name': 'Tymchuk',
        'age': 33
    },
]


print(*users, sep='\n')

{'first_name': 'Oleh', 'last_name': 'Tymchuk', 'age': 38}
{'first_name': 'Alice', 'last_name': 'Tymchuk', 'age': 35}
{'first_name': 'Bob', 'last_name': 'Tymchuk', 'age': 33}

In [46]:
users[0]

{'first_name': 'Oleh', 'last_name': 'Tymchuk', 'age': 38}

In [47]:
for user in users:
    print(user['first_name'])

Oleh
Alice
Bob

In [48]:
x = {
        'first_name': 'Bob',
        'last_name': 'Tymchuk',
        'age': 33,
        'address': {
            'country': 'Germany',
            'city': 'Berlin'
        }
    }

print(x['address']['city'])

Berlin

In [50]:
x = dict(one=1, two=2, three=3)
print(x)

{'one': 1, 'two': 2, 'three': 3}

In [51]:
x = [(1, 2), (3, 4), (5, 6)]

y = dict(x)
print(y)

{1: 2, 3: 4, 5: 6}

In [52]:
x = [1, 2, 3]
y = ['one', 'two', 'three']

z = dict(zip(x, y))

print(z)

{1: 'one', 2: 'two', 3: 'three'}

In [53]:
x = [1, 2, 3, 4]

y = dict(enumerate(x))

print(y)

{0: 1, 1: 2, 2: 3, 3: 4}

In [57]:
x = {'one': 1, 'two': 2, 'three':3}

y = dict(**x)

print(y)

{'one': 1, 'two': 2, 'three': 3}

In [62]:
x = {'one': 1, 'two': 2, 'three':3}

y = x.popitem()

print(y)

('three', 3)

In [63]:
x = {
    0: None,
    1: None,
    
}

x = {i: None for i in range(100)}

print(x)

{0: None, 1: None, 2: None, 3: None, 4: None, 5: None, 6: None, 7: None, 8: None, 9: None, 10: None, 11: None, 12: None, 13: None, 14: None, 15: None, 16: None, 17: None, 18: None, 19: None, 20: None, 21: None, 22: None, 23: None, 24: None, 25: None, 26: None, 27: None, 28: None, 29: None, 30: None, 31: None, 32: None, 33: None, 34: None, 35: None, 36: None, 37: None, 38: None, 39: None, 40: None, 41: None, 42: None, 43: None, 44: None, 45: None, 46: None, 47: None, 48: None, 49: None, 50: None, 51: None, 52: None, 53: None, 54: None, 55: None, 56: None, 57: None, 58: None, 59: None, 60: None, 61: None, 62: None, 63: None, 64: None, 65: None, 66: None, 67: None, 68: None, 69: None, 70: None, 71: None, 72: None, 73: None, 74: None, 75: None, 76: None, 77: None, 78: None, 79: None, 80: None, 81: None, 82: None, 83: None, 84: None, 85: None, 86: None, 87: None, 88: None, 89: None, 90: None, 91: None, 92: None, 93: None, 94: None, 95: None, 96: None, 97: None, 98: None, 99: None}